*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/persiandate/src/androidTest/
/persiandate/src/test/
/app/src/androidTest/
/app/src/test/
/app/app.iml
