<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="saman.zamani.persiandatedemo"
>

	<application android:allowBackup="true"
	             android:label="@string/app_name"
	             android:supportsRtl="true"
	             android:icon="@mipmap/ic_launcher"
	             android:roundIcon="@mipmap/ic_launcher_round"
	>
		<activity
				android:name=".StartupActivity"
				android:theme="@style/AppTheme"
				android:screenOrientation="portrait"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".DateConverter"
				android:theme="@style/AppTheme"
				android:screenOrientation="portrait"
		></activity>
		<activity
				android:name=".AgeCalculator"
				android:theme="@style/AppTheme"
				android:screenOrientation="portrait"
		>
		</activity>
	</application>

</manifest>
